* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

.container {
  max-width: 80%;
  height: 100vh;
  padding-top: 50px;
  margin: auto;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-input-field {
  margin-top: 5px;
  width: 500px;
  height: 30px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 3px;
}

.form-text-small {
  font-size: 12px;
  margin-top: 5px;
  color: rgb(153, 152, 152);
}

.show {
  height: 430px;
  -webkit-transition: all ease 0.6s !important;
  -moz-transition: all ease 0.6s !important;
  -o-transition: all ease 0.6s !important;
  transition: all ease-in-out 0.6s !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.normal {
  height: 275px;
  -webkit-transition: all ease 0.6s !important;
  -moz-transition: all ease 0.6s !important;
  -o-transition: all ease 0.6s !important;
  transition: all ease-in-out 0.6s !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.hide-additional-info {
  opacity: 0;
  -webkit-transition: all ease 0.6s !important;
  -moz-transition: all ease 0.6s !important;
  -o-transition: all ease 0.6s !important;
  transition: all ease-in-out 0.6s !important;
}

.show-additional-info {
  opacity: 1;
  -webkit-transition: all ease 0.6s !important;
  -moz-transition: all ease 0.6s !important;
  -o-transition: all ease 0.6s !important;
  transition: all ease-in-out 0.6s !important;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}
